.cont-home {
  width: 80vw;
  margin: 0 auto;
  height: 0rem;
}

.container-home {
  height: 100vh;
  position: relative;
  z-index: 1;
}
.header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont-logo-home {
  margin: 10rem;
}

.img-logo-home {
  width: 6rem;
  margin-bottom: 1.7rem;
  transition: 0.5s;
}

.img-logo-home:hover {
  rotate: 195grad;
}

.txt-logo-home {
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
  margin: 15px;
}

.icon-git {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 3rem;
  position: relative;
  z-index: 1;
}

.container-btn-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.txt-welcome {
  font-size: 16px;
}

a {
  z-index: 1;
  text-decoration: none;
}

.btn-back-home {
  color: #fff;
  font-weight: 600;
  padding: 1rem 1rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(25, 37, 202, 0.2);
  margin-top: 2rem;
}

.cont-footer-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40rem;
}

.link-names {
  text-decoration: none;
  margin-left: 7rem;
  color: #fff;
}

@media (max-width: 400px) {
  .cont-home {
    width: 100%;
    height: 75vh;
  }
  .header-home {
    justify-content: flex-start;
    flex-direction: column;
    height: 20%;
  }
  .cont-logo-home {
    margin: 0;
    margin-top: 5rem;
  }
  .container-btn-back {
    height: 60%;
  }
  .cont-footer-home {
    height: 30%;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;

    gap: 3rem;
  }
  .link-names {
    margin-left: 0;
    gap: 10px;
  }
}
