
.container-card{
 width: 80vw;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 2rem;
 margin: 0 auto;

 

}
.st-card{
padding: 0.6rem;
 border-radius: 1rem;
 gap: 2rem;
 text-align: center;
 
}
.id{
  display: flex;
  justify-content: end;
}

.nombre{
  padding: 1rem;
  font-size: 2rem;
}

.back{
  
   border-radius: 1rem  1rem 0 0;
    margin: 0.5rem;
    /* box-shadow: 8px 4px 40px -14px rgba(0,0,0,0.52); */
    

    

}