.modal-content {
  height: auto;
  max-height: auto;
  background: rgba(41, 41, 41, 0.45) !important;
  /* box-shadow: 0 8px 32px 0 rgb(0, 0, 0); */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.modal-Cont {
  width: 100%;
  display: flex;
}
.cont-Stats {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cont-Info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 6rem;
}
.cont-Stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  gap: 0.5rem;
}
.img-Modal {
  position: absolute;
  bottom: 200px;
}

.progress {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.cont-Data {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  text-align: center;
}

.cont-Data span {
  font-weight: bold;
}
.weight-height {
  display: flex;
  justify-content: space-around;
}
.moves {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 400px) {
  .modal-Cont {
    flex-direction: column;
    width: 100%;
  }
  .cont-Info {
    width: 100%;
  }
  .cont-Stats {
    width: 100%;
    margin-bottom: 2rem;
  }
  .img-Modal {
    top: -130px;
  }
}
