@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  /* colors pokemons */
  --rock: #b69e31;
  --ghost: #70559b;
  --steel: #b7b9d0;
  --water: #6493eb;
  --grass: #74cb48;
  --psychic: #fb5584;
  --ice: #9ad6df;
  --dark: #75574c;
  --fairy: #e69eac;
  --dragon: #7037ff;
  --electric: #f9cf30;
  --fire: #f57d31;
  --bug: #a7b723;
  --ground: #dec16b;
  --poison: #a43e9e;
  --flying: #a891ec;
  --fighting: #c12239;
  --normal: #aaa67f;
  --type: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;

  font-size: 16px;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}
