.container-card {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.st-card {
  width: 30rem;
  padding: 2rem;
  border-radius: 3rem;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.2s;
}

.st-card:hover {
  box-shadow: 0 8px 30px 0 rgba(57, 67, 206, 0.3);
  transition: transform 0.2s;
  transform: translateY(-5%);
}

.link {
  text-decoration: none;
}

.img-Poke {
  width: 20rem;
  margin-bottom: 3rem;
}

.id,
.nombre {
  color: #fff;
  font-weight: 600;
}

.id {
  display: flex;
  justify-content: end;
}

.bg-color {
  border-radius: 3rem;
  width: 100%;
}

.nombre {
  padding: 1rem;
  font-size: 2rem;
}

.footer {
  margin-top: 10rem;
}

@media (max-width: 400px) {
  .st-card {
    position: relative;
    z-index: 100;
  }
}
