.cont1{
    background-color: #001845;
    box-shadow: 8px 4px 30px -14px rgba(0, 0, 0, 0.5); 
    position: relative;
    z-index: 1;
}

.cont-header{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
    margin-bottom: 10rem;
}

.cont-logo, 
.cont-search{
    margin: 10rem 7rem;
}
.img-logo{
    width: 6rem;
    margin-bottom: 1.7rem;
    transition: 0.5s;

}

.img-logo:hover{
    rotate: 195grad;
}

.txt-logo{
    font-weight: 600;
    font-size: 4rem;
    color: #fff;
    margin: 15px;
  
}


.search{
    width: 40rem;
    height: 5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 3px solid red;
}


