.logo{
    margin: 5rem 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.img-logo{
    width: 4rem;
}

.txt-logo{
    font-weight: 600;
    font-size: 2.5rem;
}

.container-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:5rem;

}


.search{
    width: 50rem;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #1e2e3e;
}