.container-description{
  height: 100%;
}
.cont {
    height: 64rem;
    width: 36rem;
    
    border-radius: 1rem;
  }
  .head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .data {
    /* background-color: #fff; */
    border-radius: 1rem;
    margin: 5px;
    justify-content: center;
  }
  .stats {
    display: flex;
    justify-content: space-around;
    /* background-color: #fff; */
  }
  .type {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .element {
    border: none;
    background-color: #f57d31;
    padding: 0.6rem 2rem;
    border-radius: 3rem;
    color: #fff;
    font-size: 1.4rem;
  }
  h3 {
    text-align: center;
  }
  