.container-descr{
  width: 100vw;
  height: 100vh;
}


.cont-second{
  width: 80vw;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-img{
  width: 50%;
  margin-bottom: 6rem;
  align-items: center;
}

.cont-basic{
  width: 50%;
  
}
.id-desc{
  font-weight: 600;
  font-size: 2.5rem;
}

.type1{
  width: 6rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
  backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title-name{
  font-size: 6rem;
}

.txt-desc{
  width: 60%;
}

.img-big{
  filter: drop-shadow(0px 20px 5px rgba(75, 75, 75, 0.3));
}
